$x: 0;
$y: 20%;
$width: 360px;
$player-width: 100%;
$module-width: 90%;
$side-width: 20px;
$height: 120px;
$player-height: $height;
$playlist-height: 300px;
$lyrics-height: $height;
$side-height: $height * 0.6;
$bg-color-primary: #ffffff;
$bg-color-secondary: #c9c9c9;
$text-color-primary: #000000;
$text-color-secondary: #535353;
$text-color-active: #00ff2f;
$border-radius: 20px;
$border-radius-modula: 10px;
$border-radius-side: 12px;
$transition: all 0.3s ease;
$overflow: hidden;
